/* chat.component.css */

.chat-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Equal-width columns */
  grid-gap: 10px; /* Gap between columns */
  max-width: 1200px; /* Optional: Set a maximum width for the container */
  margin: 0 auto;
  padding: 20px;
}

.chat-users,
.chat-channels {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f0f0f0;
  list-style-type: none;
}

.chat-users h3,
.chat-channels h3 {
  margin-top: 0;
}

.chat-users ul,
.chat-channels ul {
  padding: 0;
}

.chat-users li,
.chat-channels li {
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
}

.my-message {
  background-color: #d3f7d3;
  text-align: right;
}
.profile-image {
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  border-radius: 50%; /* Optional: Create a circular shape */
}
.base64-image {
  width: 100px;
  height: 100px;
}

.other-message {
  background-color: #f0f0f0;
  text-align: left;
}

.chat-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-input input {
  flex: 1;
  margin-right: 10px;
}

.chat-input button {
  width: 80px;
}
