<form>
    <!-- Email input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Email address</label>
        <input id="form2Example2" class="form-control" type="text" [(ngModel)]="userpwd.email" name="email">
    </div>
    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Password</label>
      <input id="form2Example2" class="form-control" type="password" [(ngModel)]="userpwd.pwd" name="password">
    </div>
    <!-- Submit button -->
    <button (click)="loginfunc()" type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
</form>