<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">brand</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a class="nav-link" routerLink="/">Home</a></li>
      <li><a class="nav-link" routerLink="/login">Login</a></li>
      <li><a class="nav-link" routerLink="/account">Account</a></li>
      <li><a class="nav-link" routerLink="/profile">Profile</a></li>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link" (click)="logout()">Logout</a></li>
      </ul>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>

</body>
</html>



