<h3>Edit Profile</h3>
<form>
  <div class="form-outline mb-4">
    <label class="form-label" for="username">Username</label>
    <input id="username" class="form-control" type="text" name="username" [(ngModel)]="userProfile.username">
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" for="email">Email</label>
    <input id="email" class="form-control" type="email" name="emails" [(ngModel)]="userProfile.email">
  </div>
  <button type="button" class="btn btn-primary btn-block mb-4" (click)="updateProfile()">Edit</button>
</form>
