<div class="group-creation">
  <h3>Create Group</h3>
  <form (ngSubmit)="createGroup()">
    <input
      type="text"
      [(ngModel)]="groupName"
      name="groupName"
      placeholder="Group Name"
      required
    />
    <button type="submit">Create Group</button>
  </form>
</div>

<div class="channel-creation">
  <h3>Create Channel</h3>
  <select [(ngModel)]="selectedGroupId" (ngModelChange)="onGroupChange()">
    <option *ngFor="let group of groups" [value]="group.groupid">{{ group.group }}</option>
  </select>
  <form (ngSubmit)="createChannel()">
    <input
      type="text"
      [(ngModel)]="channelName"
      name="channelName"
      placeholder="Channel Name"
      required
      [disabled]="selectedGroupId === null"
    />
    <button type="submit" [disabled]="selectedGroupId === null">Create Channel</button>
  </form>
</div>

<div class="group-list">
  <h3>Groups</h3>
  <ul>
    <li *ngFor="let group of groups">
      {{ group.group }}
      <!-- Add User to Group -->
      <select [(ngModel)]="group.selectedUserId">
        <option *ngFor="let user of users" [value]="user.userid">{{ user.username }}</option>
      </select>
      <button (click)="addUserToGroup(group.groupid, group.selectedUserId)"> Add User to Group </button>
      <!-- Make "Remove User from Group" button red and smaller and move it to the right -->
      <button class="remove-button right small-red" (click)="removeUserFromGroup(group.groupid, group.selectedUserId)"> Remove User from Group </button>
    </li>
  </ul>
</div>

<div>
  <h3>Channels</h3>
  <ul>
    <li *ngFor="let group of groups">
      <button class="remove-button right small-red" (click)="removeGroup(group.groupid)">Remove Group</button>
      <h4>{{ group.group }}</h4>
      <ul>
        <li class="channelli" *ngFor="let channel of group.channels">
          {{ channel }}
          <!-- Make "Remove Channel" button red and move it to the right -->
          <button class="remove-button right small-red" (click)="removeChannel(group.groupid, channel)">Remove Channel</button>
        </li>
      </ul>
    </li>
  </ul>
</div>

